@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}
html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #0e141f;
  justify-content: center;
  align-items: center;
  z-index: 20;
  position: fixed;
  border-bottom: 1px solid #29303d;
  box-shadow: 0 1rem 5rem -0.5rem #000;
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
}

.nav-ctn {
  max-width: 1023px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  background: #ff0a6c;
  background: -webkit-linear-gradient(left, #ff0a6c 0%, #2d27ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-container {
  display: flex;
  list-style: none;
  width: 440px;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.item {
  list-style: none;
}

.menu-container a {
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.menu-container a:after {
  content: "";
  position: absolute;
  background-color: #fff;
  transform: scaleX(0);
  height: 2px;

  left: 0;
  bottom: 0;
  width: 100%;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menu-container a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.sight-in {
  display: flex;
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.in {
  position: relative;
  background: #00e5ff;
  background: -webkit-linear-gradient(left, #00e5ff 0%, #1200ff 100%);
  color: #fff;
}

.out {
  position: relative;
  background: #00ff5b;
  background: -webkit-linear-gradient(left, #00ff5b 0%, #0014ff 100%);
  color: #fff;
}

.section {
  width: 100%;
  height: 100%;
  background: #000;
}

.bg-color {
  width: 100%;
  height: 400px;
  background: #00e5ff;
  background: -webkit-linear-gradient(bottom, #00e5ff 0%, #0014ff 100%);
}

.content-container {
  margin: 0 auto;
  max-width: 900px;
  height: 100vh;
}

.header-content {
  width: 100%;
  height: 500px;
  background-color: #0e141f;
  position: relative;
  top: -200px;
  border-radius: 5px;
}

.image {
  width: 100%;
  height: 350px;
  background-image: url(/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.desc span {
  display: flex;
  color: #fff;
  padding-top: 2rem;
  padding-left: 1rem;
  font-size: 2rem;
}

button {
  /* margin-left: 1rem; */
  /* margin-top: 1.5rem; */
  background-color: transparent;
  border: none;
}

button a {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  position: relative;
 
}

.ntn-bigbox {
    margin-left: 1rem;
}

button a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.25s ease-out;
  background: #00e5ff;
}

button a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.contentone {
  display: flex;
  width: 100%;
  background-color: #fff;
  height: 200px;
  margin-top: -150px;
  transition: transform 0.25s ease-out;
  position: relative;
  cursor: pointer;
}

.contentone:hover {
  transform: scaleX(1.1);
}

.image_inbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100%;
    
}


.bg-gradient1 {
    background: #00E5FF;
    background: linear-gradient(to top right, #00E5FF 0%, #1200FF 100%);
}

.bg-gradient2 {
    background: #00C0FF;
    background: linear-gradient(to top left, #00E5FF 0%, #421BB8 100%);
}
.bg-gradient3 {
    background: #00FFA9;
    background: linear-gradient(to bottom right, #00FFA9 0%, #0D4DFF 100%);
}

.inside-bg {
    position: absolute;
    color: #fff;
    font-size: 3rem;
    font-weight: 800;
    text-decoration: none;
}
.btn-one {
    position: absolute;
    color: #000;
    padding-top: 2rem;
    
}


.content_inbox {
   padding: 50px 80px;
}

h1 {
    position: absolute;
    display: flex;
    color: #000;
    text-decoration: none;
}

.card2 {
    margin-top: 2rem;
}
 
.card3 {
    margin-top: 2rem;
}