@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}
html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #0e141f;
  justify-content: center;
  align-items: center;
  z-index: 20;
  position: fixed;
  border-bottom: 1px solid #29303d;
  box-shadow: 0 1rem 5rem -0.5rem #000;
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
}

.nav-ctn {
  max-width: 1023px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  background: #ff0a6c;
  background: -webkit-linear-gradient(left, #ff0a6c 0%, #2d27ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-container {
  display: flex;
  list-style: none;
  width: 440px;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.item {
  list-style: none;
}

.menu-container a {
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.menu-container a:after {
  content: "";
  position: absolute;
  background-color: #fff;
  transform: scaleX(0);
  height: 2px;

  left: 0;
  bottom: 0;
  width: 100%;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menu-container a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.sight-in {
  display: flex;
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.in {
  position: relative;
  background: #00e5ff;
  background: -webkit-linear-gradient(left, #00e5ff 0%, #1200ff 100%);
  color: #fff;
}

.out {
  position: relative;
  background: #00ff5b;
  background: -webkit-linear-gradient(left, #00ff5b 0%, #0014ff 100%);
  color: #fff;
}

.section {
  width: 100%;
  height: 400px;
  background: #020024;
  background: -webkit-linear-gradient(
    left,
    #020024 0%,
    #0808a6 35%,
    #00d4ff 100%
  );
}

.container-content {
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1000px;
  width: 100%;
  padding: 30px 50px 50px 50px;
}

.title-container {
  width: 900px;
  height: 700px;
  background: #fff;
  margin-top: -300px;
}

h1 {
  color: #000;
  background-color: #00d4ff;
  height: 270px;
  display: grid;
  place-items: center;
  font-size: 4rem;
  background: #110024;
  background: -webkit-linear-gradient(
    top left,
    #110024 0%,
    #4e33dd 45%,
    #195ee7 100%
  );
  color: #fff;
  font-family: "Righteous", cursive;
}

.img-container {
  background-color: #0e141f;
  height: 430px;
  background-image: url(/images/htmlpic2.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.article {
  width: 800px;
  margin: 0 auto;
  margin-top: 2rem;
}

.paragrahp {
  margin-top: 3rem;
}
